.container {
  display: grid;
  
  grid-template-areas: 
  'search-bar search-bar search-bar search-bar'
  'video-player video-player video-player video-list'
  'video-player video-player video-player video-list'
  'video-player video-player video-player video-list';
  
}

.search-bar {
  grid-area: search-bar;
  background: red;
}

.video-player {
  grid-area: video-player;
  background: blue;
}

.video-list {
  grid-area: video-list;
  background: yellow;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
